body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
}

ul {
    padding: 0;
    margin: 0;
}

.header {
    background-color: aqua;
    color: #000000;
    max-width: 1200px;
    margin: 0 auto;
    height: 56px;
}

.links {
    display: flex;
    list-style: none;
    margin: 0 72px;
    justify-content: space-between;
}

.links-item {
    margin-top: 15px;
}

.links li:last-child {
    margin-left: 147px;
}

.links-item:nth-child(3) {
    margin-top: 0;
}

.links a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}