body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
    background-color: #888888;
    text-transform: uppercase;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header {
    position: relative;
    background-color: #FFFFFF;
    color: #000000;
    max-width: 1200px;
    margin: 0 auto;
    height: 56px;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.navigation-menu {
    list-style: none;
    margin: 0 72px;
}

.navigation-menu-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 56px;
    align-items: center;
}


.navigation-menu-links a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}

.navigation-menu-links-item {
    box-sizing: border-box;
    flex-basis: 264px;
}

.navigation-menu-links-item:last-child,
.navigation-menu-links-item:nth-child(3) {
    text-align: right;
}

.navigation-menu-links-item:nth-child(2) {
    margin-right: 150px;
}

.logo {
    position: absolute;
    left: calc(50% - 69px);
}

.welcome-graphic {
    margin-left: auto;
    margin-right: auto;
}

.welcome-banner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
    height: 432.65px;
    background-image: url('./../images/welcome_background.png');
    background-repeat: no-repeat;
    padding-top: 76.35px;
}

.welcome {
    margin-bottom: 11px;
}

.gorgeous {
    margin-bottom: 53px;
}

.welcome-footer {
    margin-top: auto;
}

.advantage {
    color: #000000;
    text-align: center;
    min-width: 1200px;
}

.advantage-header {
    box-sizing: border-box;
    padding-top: 21px;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    /*text-transform: uppercase;*/
    width: 1200px;
    height: 216px;
    background-color:  #FFFFFF;

}

.advantage-header p:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    margin-top: 42px;
}

.advantage-list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 21px;
}

.advantage-list-item {
    flex-basis: 400px;
    height: 256px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.advantage-list-item:nth-child(6n+1) {
    background-color: #81B3D2;
    color: #FFFFFF;
}

.advantage-list-item:nth-child(n+8) {
    background-color: #EEEEEE;
}

.advantage-list-item:nth-last-child(4n+5) {
    background-image: url('./../images/welcome_background.png');
    background-repeat: no-repeat;
    flex-basis: 800px;
}

.advantage-list-item:nth-child(2) {
    background-image: url("./../images/advantage_image_1.png");
}

.advantage-list-item:nth-child(3),
.advantage-list-item:nth-child(4),
.advantage-list-item:nth-child(5) {
    height: 330px;
}

.advantage-list-item__title {
    font-size: 21px;
    font-weight: 700;
    margin-top: 46px;
}

.advantage-list-item__title {
    margin-top: 50px;
}

.advantage-list-item__number {
    margin-top: 25px;
}

.advantage-list-item__description {
    margin-top: 23px;
}

.advantage-list-item__icon {
    margin-top: 60px;
    margin-bottom: -24px;
}

.advantage-list-item:nth-child(5) .advantage-list-item__icon {
    margin-top: 55px;
}

.form-container {
    height: 291px;
    width: 1200px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    padding-top: 24px;
    text-align: center;
}

.form-container p:first-child {
    font-size: 30px;
    font-weight: 700;
}

.form-container p:nth-child(2) {
    margin-bottom: 49px;
}
.button-wrapper {

}

.form-button {
    display: block;
    width: 568px;
    height: 86px;
    background-color: #766357;
    margin: auto;
    border: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.map {
    margin: 0;
    height: 473px;
}

.map iframe {
    width: 100%;
    height: 473px;
    background-image: url("./../images/map.png");
    border: none;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    height: 120px;
    background-color: #FFFFFF;
    margin: 0 auto;
    align-items: center;
}

.footer-item {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.footer-number {
    text-decoration: none;
    color: #000000;
}

.social-list {
    display: flex;
    gap: 6px;
}

.social-list-item {
    width: 46px;
    height: 48px;
    background-color: #81B3D2;
    background-repeat: no-repeat;
    background-position: center;
}

.social-list-item:first-child {
    background-image: url("./../images/icon-twitter.svg");
}

.social-list-item:nth-child(2) {
    background-image: url("./../images/icon-facebook.svg");
}

.social-list-item:nth-child(3) {
    background-image: url("./../images/icon-youtube.svg");
}

.copyright {
    display: flex;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    gap: 15px;
}

